html {
  box-sizing: border-box;
  font: normal 100%/1.5 georgia,"";
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;

}

header {
background-color: #ffe500;
text-align: center;
padding: 0 .2em .2em;
}

h1 {
  text-align: center;
  color: #b20953;
  font-family: "Sigmar One", georgia;
  font-size: 3rem;
  margin: 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px;
}

nav li {
  display: inline-block;

}

nav a {
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;;
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  margin: 0;


}

nav a:hover {
  background-color: #cc1465;
}

h2 {
  font-family: "Sigmar One", Georgia;
  color: #b20953;
  margin-left: .3em;
  padding:
}

img {
  width: 100%;
  display: block;
  margin: 0.2em;
}

p {
  font-family: Georgia,serif;
  font-size: .75rem;
  margin: .3em;
  padding: 10px;
}

footer {
background-color: #ffe500;
text-align: center;
padding:10px;
}
